.button {
    width: 189px;
    height: 48px;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    color: var(--white);
    background: var(--primary);
}

.button__primary {
    /*.button как таковой имеет все настройки primary по умолчанию. Мне кажется хоть и пустым - но лучше оставить, что бы не искали. И вообще - не имеет ли смысл вообще убрать button__primary и использовать для "primary" настройки обычного button. По CSS как я понимаю раз button__secondary идут после - они будут в приоритете. Я имею ввиду .button:hover, и .button:disabled настройки не будут мешать в таком случае. */
}

.button__primary:hover {
    background: #2342c0; /*Нету цвета в root*/
}

.button__primary:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button__secondary {
    background: var(--secondary);
}

.button__secondary:hover {
    background: #5028C6; /*Нету цвета в root*/
}

.button__secondary:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button__alternate {
    border: 1px solid var(--grey-3);
    background: var(--white);
    color: var(--grey-4);
}

.button__alternate:hover {
    border: 1px solid var(--black);
    color: var(--grey-4);
}

.button__alternate:disabled {
    opacity: 0.5;
    border: 1px solid var(--grey-3);
    pointer-events: none;
}

