@import "/assets/css/main.css";

.accordion {
    padding: 24px 0px 24px 32px;
    display: block;
    width: 730px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--black);
}

.accordion_preview {
    margin-bottom: 8px;
}

.accordion__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 32px 0px 0px;
}

.accordion[open] .accordion__icon {
    transform: rotate(-180deg);
}

.accordion__text {
    padding: 16px 49px 8px 0px;
    color: var(--grey-4);
}

.accordion:last-child {
    margin-bottom: 0px;
}

.accordion__summary::-webkit-details-marker { 
    display: none;
}



