footer {
    background-color: var(--white);
}

.footer {
    padding: 72px 0px 136px 0px;
    text-align: center;

}

.heading__footer {
    padding-bottom: 32px;
}

.footer__wrapper {
    max-width: 620px;
    margin: 0 auto;
}