body {
    justify-content: center;
    text-align: center;
}

.icon__help {
    width: 24px;
    height: 24px;
}

.tooltip__help {
    display: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: var(--grey-2);
    background: #4263EB;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px 8px 21px;
    margin: 0 auto;
    position: absolute;
    justify-content: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -70px);
}

.tooltip__help::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4263EB transparent transparent transparent;
}

.icon__help:hover ~ .tooltip__help {
    display: block;
}