
.textinput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.textinput__legend {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.textinput__container {
    display: flex;
    align-items: center;
    max-width: 350px;
}

.textinput__input {
    background: #FFFFFF;
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 8px;
    width: 350px;
    height: 56px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: var(--grey-4);
    padding: 17px 0px 13px 24px;
}

.textinput__input-confirmed {
    background: #FFFFFF;
    border: 1px solid var(--primary);
    box-sizing: border-box;
    border-radius: 8px;
    width: 350px;
    height: 56px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: var(--grey-4);
    padding: 17px 0px 13px 24px;
}

.textinput__input-declined {
    background: #FFFFFF;
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 8px;
    width: 350px;
    height: 56px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: var(--grey-4);
    padding: 17px 0px 13px 24px;
}

.textinput__icon-checked {
    margin: -38px;
}

.textinput__icon-error {
    margin: -38px;
}

.textinput__input:focus {
    border: 2px solid var(--grey-2);
}

.textinput__input-confirmed:focus {
    border: 2px solid var(--primary);
}

.textinput__input-declined:focus {
    border: 2px solid red;
}

.textinput__input:disabled {
    cursor:no-drop;
}


